/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */

/* :root {
    --primary-color: #f7d1a6;
    --width-break: 800px;
    
}

body { 
    font-family: 'Satisfy', cursive;
    margin: 0;
    background-color: var(--primary-color);
}  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --sec-color: #f098ba;
    --width-break: 1000px;
    --primary-color: rgb(73, 219, 207);
}
body { 
    font-family: 'Satisfy', cursive;
    margin: 0;
    background-color: whitesmoke;
}

textarea{
    width: 80%;
    height: 10vh;
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    font-family: 'Satisfy', cursive;
    background-color: var(--sec-color);
}

/** Navigation **/

.navigation {
    background-color: rgb(73, 219, 207);
    color: black;
    position: fixed;
    width: 100%;
    height: 10vh;
    margin: 0px;
}

.navigation .nav-brand {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

/** Header **/

.hero .hero-img {
    max-width: 150px;
    display: block;
    margin: auto;
    padding-top: 5rem;
}

.div-txt{
    padding: 0rem 0rem 0.5rem 7.5rem;
    margin: auto;
}

.footer {
    background-color: rgb(73, 219, 207);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    padding-inline-start: 0px;
}
footer{
    display: block;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
    color: black;
}

.footer .para{
    text-align: center;
    max-width: var(--width-break);
    color: rgb(29, 24, 24);
    margin: auto;
    padding: 0.5rem;
    font-size: small;
}

